body {
    margin: 0;
    padding: 0;
    background-image: url('123.jpg');
    background-size: 1566px 744px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    

}

/* Add the ::before pseudo-element for the blur effect */
body::before {
    content: "";
    background-image: url('123.jpg'); /* Same background image */
    background-size: cover;
    filter: blur(1.5px); /* Adjust the blur amount as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the blurred layer behind the content */
}


.login-container {
    margin-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 400px;
}

.login-container h1 {

    font-family: 'Young Serif';
    font-size: 33px;
    text-shadow: 2px 2px #0000007b;
}

.login-container h2 {
    font-family: 'Montserrat';
    font-size: 30px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

a {
    text-decoration: none;
    color: #007bff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#error-message {
    color: red;
}

.round-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Make it round */
    width: 150px; /* Set the desired width and height */
    height: 150px;
    border: 2px solid #3498db; /* Add a border if you like */
    margin: 0 auto; /* Center the round image */
    overflow: hidden; /* Hide overflow if the image is larger */
}

.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain image aspect ratio */
    border-radius: 50%; /* Ensure the image is round */
}

.heading-container {
    background-color: #3498db; /* Blue background color */
    text-align: center;
    padding: 10px;
    color: white; /* White text color */
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold if desired */
    font-family: 'Arial', sans-serif; /* Specify the desired font */
}